@using ECC.WebApp.Services

@model WebApp.Models.HomeViewModel
@inject EmergencyCareService Service
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Emergency Care Centre App</h1>

    <table class="table">
        <thead>
            <tr>
                <td>
                    Bed
                </td>
                <td>
                    Status
                </td>
                <td>
                    Patient
                </td>
                <td>
                    DOB
                </td>
                <td>
                    Presenting Issue
                </td>
                <td>
                    Last comment
                </td>
                <td>
                    Last update
                </td>
                <td>
                    Nurse
                </td>
                <td>
                    Action
                </td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.BedDetails)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.BedId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.State)
                    </td>
                    <td>
                        @if (item.State == "In use")
                        {
                            <a asp-action="Patient" asp-route-id="@item.PatientId">
                                @Html.DisplayFor(modelItem => item.PatientName)
                            </a>
                        }
                        </td>
                    <td>
                        @if (item.State == "In use")
                        {
                            @Html.DisplayFor(modelItem => item.DateOfBirth)
                        }
                    </td>
                    <td>
                        @if (item.State == "In use")
                        {
                            @Html.DisplayFor(modelItem => item.AdmissionReason)
                        }
                    </td>
                    <td>
                        @if (item.State == "In use")
                        {
                            @Html.DisplayFor(modelItem => item.LastComment)
                        }
                    </td>
                    <td>
                        @if (item.State == "In use")
                        {
                            @Html.DisplayFor(modelItem => item.LastUpdate)
                        }
                    </td>
                    <td>
                        @if (item.State == "In use")
                        {
                            @Html.DisplayFor(modelItem => item.Staff)
                        }
                    </td>
                    <td>
                        @if (item.State == "Free")
                        {
                            <a asp-action="Admit" asp-route-id="@item.BedId">Admit</a>
                        }
                        else
                        {
                            <a asp-action="Comment" asp-route-id="@item.BedId">Add comment</a>
                            <br>
                            <a asp-action="Discharge" asp-route-id="@item.BedId">Discharge</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div>
        <span>Beds in use: @Service.GetUsedBeds()</span>
        <span>Beds free: @Service.GetFreeBeds()</span>
        <span>Total patients admitted today: @Service.GetTotalAdmittedToday()</span>
    </div>
</div>
